{% extends 'base.html' %}
{%load static%}
{%block styles %}
<style>
   body {
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f8f9fa;
       color: #333;
   }


   h1 {
       text-align: center;
       padding: 20px 0;
       font-size: 2.5rem;
       color: #0077b6;
   }


   h2 {
       font-size: 2rem;
       color: #0077b6;
   }
  
   a {
       text-decoration: none;
       color: #0077b6;
       transition: color 0.3s ease;
   }


   a:hover {
       color: #0077b6;
   }


   #content {
       max-width: 800px;
       margin: 1px auto;
       padding: 20px;
       background-color: #fff;
       border-radius: 8px;
       box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   }
   p{
       margin: 0;
   }
   #entry {
       color: #0077b6;
       margin: 20;
       padding: 20px;
       font-size: 1.5rem;
   }
   #date {
       font-style: italic;
       font-size: 0.7rem;
   }

   img {
       max-width: 850px;
       max-height: 450px;
   }


</style>
{% endblock styles %}


{% block content %}
   <h1>
       <a href="/blog/articles">BLOG </a>
       <h4><a href="/blog/articles"> &larr; Return to Article List </a></h4>
   </h1>
   {% if article.header_image %}<img src="{{ article.header_image.url }}" alt="{{ article.title }} Header Image">{% endif %}
   {% if article.author == request.user.profile %}
        <a href="{% url 'blog:article_update' pk=article.pk %}">Update Article</a>
    {% endif %}

   <h2>Article Title: {{ article.title }}</h2>
   <h3>Author: {{ article.author }} </h3>
   <p>Category: {{ article.category}}</p>
   <p>Category Description: {{ article.category.description }}</p>
   <p id="entry">Article Entry: {{article.entry}}</p>
   <p id="date">Created on: {{ article.created_on }}</p>
   <p id="date">Updated on: {{ article.updated_on }}</p>

   <h2>Other Articles by {{ request.user.profile }}</h2>
   <ul>
       {% for other_article in request.user.profile.article_set.all %}
           {% if other_article != object %}
               <li><a href="{{ other_article.get_absolute_url }}">{{ other_article.title }}</a></li>
           {% endif %}
       {% endfor %}
   </ul>

   <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <h3>Comments</h3>
<ul>
    {% for comment in comments %}
        <li>{{ comment.author.username }}: {{ comment.entry }}</li>
    {% endfor %}
</ul>
   
{% endblock content %}