{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h4>
        <a href="/home" class="btn btn-outline-info btn-lg" role="button">&larr; Return to Homepage</a>
    </h4>
    <ul>
        <h4>
                            
                <h4 class="text-center">
                    <a class="btn btn-outline-info"
                       role="button"
                       href="{% url 'blog:blog_gallery_view' %}">Switch to Gallery View</a>
                </h4>
                {% if request.user.is_authenticated %}
                    <h2 class="text-start display-4">Your Articles</h2>
                    {% for article in object_list %}
                        {% if article.author == request.user.profile %}
                                <h2><a href="{{ article.get_absolute_url }}"
                                   class="btn btn-secondary btn-lg"
                                   role="button">{{ article.title }}</a></h2><br>
                        {% endif %}
                        {% empty %} No created articles yet.
                    {% endfor %}
                    <hr>
                {% endif %}
                <h2 class="text-start display-4">All Articles</h2>
                {% for category in article_category %}
                    <h3>{{ category }}</h3>
                    {% for article in object_list %}
                        {% if article.category.id == category.id and article.author != request.user.profile %}
                                <h2><a href="{{ article.get_absolute_url }}"
                                   class="btn btn-secondary btn-lg"
                                   role="button">{{ article.title }}</a></h2>
                        {% endif %}
                    {% endfor %}
                    <hr>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %}
                <h4 class="text-center">
                    <a class="btn btn-outline-info"
                       role="button"
                       href="{% url 'blog:article_create' %}">Add Article</a>
                </h4>
            {% endif %}
        {% endblock content %}
