<!DOCTYPE html>
<html lang="en">
  {%block styles%} {%endblock styles%}
  <head>
    <title> </title>
    <header>{% block header %}{%endblock%}</header>
  </head>
  <body>
    <div id="content">
      {% if request.user.is_authenticated %} 
        {% block content %}
        {% endblock %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form> 
        {% else %}
        <h1>Please <a href={% url 'login' %}> --> login <-- first</a></h1>
      {% endif %}
    </div>
  </body>
</html>
