<!DOCTYPE html>
<html lang="en">
  {%block styles%} {%endblock styles%}
  <head>
    <title> </title>
    <header>{% block header %}{%endblock%}</header>
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
      {% if request.user.is_authenticated %}

        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LOG OUT</button>
        </form> 
      {% else %}
        <a href = "{%url 'login'%}">Login</a>
      {% endif %}

    </div>
  </body>
</html>
