{% extends "base.html" %}
{% load static %}

{% block header %}
     <h1>
        <a href="/commissions/list">Commissions</a>  
     </h1>
{% endblock header %}
{% block content %}

     <ul>
      {% if object_list %}

        <h2>Open Commissions</h2>
          {% for commission in object_list %}

           <h2>
                {% if commission.status == "open" %}

               <a href="{{commission.get_absolute_url}}">
                    {{commission.title}}
               </a>
               {% endif %}
           </h2>
          {% endfor %}

          <h2> Full Commissions </h2>
          {% for commission in object_list %}
          <h2>
            {% if commission.status == "full" %}
           <a href="{{commission.get_absolute_url}}">
                {{commission.title}}
           </a>
           {% endif %}
            </h2>
          {% endfor %}
        

          <h2>Completed Commissions</h2>
          {% for commission in object_list %}
          <h2>
            {% if commission.status == "completed" %}
           <a href="{{commission.get_absolute_url}}">
                {{commission.title}}
           </a>
           {% endif %}
            </h2>
          {% endfor %}

          <h2>Discontinued Commissions</h2>
          {% for commission in object_list %}
          <h2>
            {% if commission.status == "discontinued" %}
           <a href="{{commission.get_absolute_url}}">
                {{commission.title}}
           </a>
           {% endif %}
            </h2>
          {% endfor %}

        
        <h2>Created Commissions</h2>
          {% for commission in object_list %}
          <h2>
            {% if commission.author.pk == user.pk %}
           <a href="{{commission.get_absolute_url}}">
                {{commission.title}}
           </a>
           {% endif %}
            </h2>
          {% endfor %}

          <h2>Commissions you applied to:</h2>

          
    
         {% for commission in object_list %}
              {% for job in commission.jobs.all %}
                  {% for application in job.applicants.all %}
                      {% if application.applicant == user.profile %}
                          <h2>
                              <a href="{{ commission.get_absolute_url }}">
                                  {{ commission.title }}: {{job.role}}
                              </a>
                          </h2>
                      {% endif %}
                  {% endfor %}
              {% endfor %}
          {% endfor %} 
          
        <h2 class="create"><a href="/commissions/add">Create a new commission</a></h2>
      
        {% else %}
        <h1 class="create"><a href="/commissions/add">No Commissions yet. Create a new commission</a></h1>

      {% endif %}
     </ul>

{% endblock %}
