{% extends "base.html" %}
{% load static %}


{% block content %}
     <h1 class="subtitles">Title: {{commission.title}}</h1>
     <h2 class="content">Author: {{commission.author}}</h2>
     <h2 class="content">{{commission.description}}</h2>

     {% if user.profile == commission.author %} 
     <h1><a href = "/commissions/{{commission.pk}}/edit">Update Commission</a></h1>
     {% endif %}

     <p class="time"><small>  [created on: {{commission.created_on}}]</small></p>
     <p class="time"><small> [updated on: {{commission.updated_on}}]</small></p>

     <h2>JOBS NEEDED:</h2>
     {% for job in commission.jobs.all %}
          <h1> Job: {{ job.role }}</h1>
          <h3> Manpower Required:{{job.manpower_required}}</h3>
          <h3>Status: {{job.status}}</h3>
          <form method="POST">
               {% csrf_token %}
               {{ job_application_form }}
               <input type="hidden" name="job_pk" value="{{job.pk}}">
               {% if open_manpower != 0 %}
                    <button name="apply">Apply to Job</button>  
               {% else %}
                    <button name="apply" disabled>Slots are full</button>  
                    {% endif %}
               

          </form>
     {% endfor %}
     <h2>Open Manpower: {{ open_manpower}}</h2>
     <h2>Total Manpower Required: {{ total_manpower }}</h2>
     
{% endblock content%}