{% extends "base.html" %} {% load static %} 



{% block content %}
{% if request.user.is_authenticated %}

    <form method="POST" >
        <h1>COMMISSION CREATION FORM:</h1>
        <h2>Author: {{request.user.profile}}</h2>
        {% csrf_token %}
        {{ commission_form }}
        <hr>
            {{formset}}
            <hr>

        <button type="submit" name="submit_form">Submit</button>
    </form>

    <script>
        {% if messages %}
            {% for message in messages %}
            alert('{{ message }}')
            {% endfor %}
        {% endif %}
    </script>

    {% else %}
        <h1>Log-in first</h1>
    {% endif %}

{% endblock content %}



