{% extends "base.html" %} {% load static %} {% block content %}
<form method="POST" >
     <h1>COMMISSION CREATION FORM:</h1>
    <h2>Author: {{request.user.profile}}</h2>
    {% csrf_token %}
    {{ commission_form }}
    <hr>
        {{formset}}
        <hr>
    <button name="add_job">Add another job</button> 
    <br>
    <button type="submit" name="submit_form">Submit</button>
</form>

<script>
    {% if messages %}
        {% for message in messages %}
        alert('{{ message }}')
        {% endfor %}
    {% endif %}
</script>
{% endblock content %}



























<!-- <H2>Commission</H2>
    <label for="commission">
        Title: <input type="text" id="title" name="title" /> 
        <br> 
        Description:<input type="text" id="description" name="description" /> 
        <br>
        People Required:
        <input
            type="number"
            step="1"
            id="people_required"
            name="people_required"
        />
        <br>
        Status: <select name="status" id="status">
          <option value="open" selected>OPEN</option>
          <option value="full">FULL</option>
          <option value="completed">COMPLETED</option>
          <option value="discontinued">DISCONTINUED</option>
      </select>    </label> -->
      <!-- <h2>job</h2>
    <label for="job_form">
        <span>Job entry: </span>
        <input type="text" id="job" name="job" />
        <br/>

        Role: <input type="text" id="job_role" name="job_role"/>
        <br/>
        Manpower Required:
        <input
            type="number"
            step="1"
            id="manpower_required"
            name="manpower_required"
        />
        <br />
        STATUS:
        <select name="job_status" id="job_status">
            <option value="open" selected>OPEN</option>
            <option value="full">FULL</option>
        </select>
        <br>
        ENTRY:
        <input type="text" id="entry" name="entry">
    </label>
    <br> -->