{% extends "base.html" %} {% load static %} {% block content %}
<form method="POST" >
     <h1>COMMISSION CREATION FORM:</h1>
    <h2>Author: {{request.user.profile}}</h2>
    {% csrf_token %}
    {{ commission_form }}
    <hr>
        {{formset}}
        <hr>
    <button name="add_job">Add another job</button> 
    <br>
    <button type="submit" name="submit_form">Submit</button>
</form>

<script>
    {% if messages %}
        {% for message in messages %}
        alert('{{ message }}')
        {% endfor %}
    {% endif %}
</script>
{% endblock content %}



