{% extends "base.html" %}
{% load static %}
{% block content %}
     <ul>
          {% if object_list %}
               {% if request.user.is_authenticated %}
                    <h2 class="text-start display-4">Created Commissions</h2>
                         {% for commission in commissions_created %}
                              <h2><a class="btn btn-secondary btn-lg"
                                      role="button"
                                      href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></h2><br>
                              {% empty %}
                                   No commissions created yet.
                         {% endfor %}
                    <h2 class="text-start display-4">Commissions you applied to</h2>
                         {% for commission in commissions_joined  %}
                              <h2><a class="btn btn-secondary btn-lg"
                              role="button"
                              href="{{ commission.get_absolute_url }}">
                              {{ commission.title }}
                              </a></h2><br>
                              {% empty %} No commissions applied yet.
                         {% endfor %}    
                         <hr>    
               {% endif %}
               <h1 class="text-center display-3">All commissions</h1>
               <h2 class="h3">Open Commissions:</h2>
               {% for commission in open_commissions %}
               <h2>
                         <a class="btn btn-secondary btn-lg"
                            role="button"
                            href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
               </h2><br>
               {% endfor %}
               <h2 class="h3">Full Commissions:</h2>
               {% for commission in full_commissions %}
               <h2>
                         <a class="btn btn-secondary btn-lg"
                            role="button"
                            href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
               </h2><br>
               {% empty %} No full commissions yet.
               {% endfor %} <hr>
               <h2 class="h3">Completed Commissions:</h2>
               {% for commission in completed_commissions %}
                    <h2>
                              <a class="btn btn-secondary btn-lg"
                                 role="button"
                                 href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
                    </h2><br>
                    {% empty %} No completed commissions yet.

               {% endfor %}
               <hr>
               <h2 class="h3">Discontinued Commissions:</h2>
               {% for commission in discontinued_commissions %}
                    <h2>
                              <a class="btn btn-secondary btn-lg"
                                 role="button"
                                 href="{{ commission.get_absolute_url }}">{{ commission.title }}</a>
                    </h2><br>
                    {% empty %} No discontinued commissions yet.

               {% endfor %}


               {% if request.user.is_authenticated %}
                    <h2 class="text-center">
                         <a class="btn btn-outline-info" role="button" href="/commissions/add">Create a new commission</a>
                    </h2>
               {% endif %}
          {% else %}
               <h1 class="text-center">
                    <a href="/commissions/add"
                       class="btn btn-outline-info btn-lg"
                       role="button">No Commissions yet. Create a new commission</a>
               </h1>
          {% endif %}
     </ul>
{% endblock %}