{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center">Welcome to our Hobby Site!</h1>
    <h2 class="text-center">Lists of Apps:</h2>
    <h2>
        <h2 class="text-center">
            <a class="btn btn-secondary btn-lg"
               role="button"
               href="/merchstore/items/">Merchandise Store</a>
        </h2>
        <h2 class="text-center">
            <a class="btn btn-secondary btn-lg" role="button" href="/wiki/articles/">Wiki</a>
        </h2>
        <h2 class="text-center">
            <a class="btn btn-secondary btn-lg" role="button" href="/blog/articles/">Blog</a>
        </h2>
        <h2 class="text-center">
            <a class="btn btn-secondary btn-lg"
               role="button"
               href="/commissions/list/">Commissions</a>
        </h2>
    </h2>
    {% if request.user.is_authenticated %}
        <h3 class="text-center">
            <a href="/dashboard" class="btn btn-outline-info" role="button">Check User Dashboard</a>
        </h3>
        {% if not request.user.profile %}
            <h2 class="text-center">
                <button type="submit" class="btn btn-outline-info">
                    <a href = "{% url 'profile:profile-create' %}">Create a new profile here!</a>
                </h2>
            {% endif %}
        {% endif %}
    {% endblock content %}
