{% extends 'base.html' %}
{% block styles %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FEE8D6; 
        color: #555555; 
    }

    h1 {
        text-align: center;
        padding: 20px 0;
        font-size: 2.5rem; 
        color: #FF9913; 
        max-width: 400px;
        margin: 20px auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 20px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    a {
        text-decoration: none;
        color: #FF9913; 
        transition: color 0.3s ease; 
    }

    a:hover {
        color: #555555; 
        border: none;
        color: black;
        opacity: 0.6;
        max-width: 800px;
        margin: 50px auto; 
        padding: 5px;
        background-color: #FF9913; 
        border-radius: 8px; 
    }

    #content {
        max-width: 800px;
        margin: 20px auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 8px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    p{
        margin: 0
    }
    
</style>
{% endblock styles %}
{%block header%}
<h1>Merchandise Store!</h1>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

{%endblock%}
{% block content %}
    <ul>
        {%for productType in object_list%}
        <p>  <font size="+2"><b>{{productType.name}}: </b></font>
        <br>{{productType.description}}
        </p>
            {% for productT in productType.product.all %}
            <ul>
                <li>
                    <a href= "{{ productT.get_absolute_url }}" > {{productT.name}} </a>
                </li>
            </ul>
            {% endfor %}
        {%endfor%}
    </ul>
{% endblock %}