{% extends 'base.html' %}
{% block styles %}
    <style>
    body {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 20px; 
        background-color: #FEE8D6; 
        color: #555555; 
    }

    h1 {
        text-align: center;
        padding: 20px 0;
        font-size: 40px; 
        color: #FF9913; 
        max-width: 400px;
        margin: 20px auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 20px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        font-size: 30px; 
        color: #FF9913; 
    }
    a {
        text-decoration: none;
        color: #FF9913; 
        transition: color 0.3s ease; 
    }

    a:hover {
        color: #555555; 
        border: none;
        color: black;
        opacity: 0.6;
        max-width: 800px;
        margin: 50px auto; 
        padding: 5px;
        background-color: #FF9913; 
        border-radius: 8px; 
    }

    #content {
        max-width: 800px;
        margin: 20px auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 8px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    p{
        margin: 0
    }
    
    </style>
{% endblock styles %}
{% block header %}
    <h1>Transactions!</h1>
{% endblock header %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Product Transactions:</h1>
        {% for buyer in buyerAll %}
            {% if buyer.user != request.user %}
                <h3>Purchased by: {{ buyer.user }}</h3>
                {% for transaction in itemsSold %}
                    {% if buyer.user.username == transaction.buyer.user.username %}
                        <br>
                        Product: {{ transaction.product.name }}
                        <br>
                        Amount: {{ transaction.amount }}
                        <br>
                        Status: {{ transaction.status }}
                        <br>
                        Transaction On: {{ transaction.createdOn }}
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <br>
        <b>Number of products being transacted: {{ total }}</b>
    {% endif %}
    <h5>
        <a href="/merchstore/items">Return to Homepage</a>
    </h5>
{% endblock content %}
