{% extends 'base.html' %}
{% block content %}
    <h4>
        <a href="/home" class="btn btn-outline-info btn-lg" role="button">&larr; Return to Homepage</a>
    </h4>
    <h5>
        <a class="btn btn-outline-info" role="button" href="/merchstore/items/">&larr; Return to Merchstore Products</a>
    </h5>
    <h1 class="text-center display-3">Merchandise Store Details!</h1>
    <h2>{{ object.name }}</h2>
    <br>
    Owner: {{ object.Owner }}
    <br>
    Price: {{ object.price }} Pesos
    <br>
    Description: {{ object.description }}
    <br>
    <br>
    <b>Stock: {{ object.stock }}</b>
    {% if object.stock < 5 and object.stock > 0 %}
        <br>
        <font size="-1">There is little stock left for this product!</font>
    {% endif %}
    <br>
    <b>Status: {{ object.status }}</b>
    <br>
    {% if object.Owner != request.user.profile %}
        <form method="post" action="" enctype= multipart/form-data>
            {% csrf_token %}
            {{ transaction_form.as_p }}
        {% endif %}
        {% if errors.OverBuy %}
            <br>
            This transaction is <b>invalid</b> kindly input an amount thats <b>within</b> the stock.
        {% endif %}
        {% if errors.NoAmount %}
            <br>
            This transaction is <b>invalid</b> kindly input an amount.
        {% endif %}
        {% if object.Owner != request.user.profile and object.stock  != 0 %}
            <br>
            <button type="submit">Purchase</button>
        {% endif %}
        {% if object.Owner != request.user.profile and object.stock  == 0 %}
            <button disabled>Purchase</button>
            <br>
            This product is currently Out of Stock!
        {% endif %}
    </form>
    {% if object.Owner  == request.user.profile %}
        <br>
        <h2 class="text-center">
        <a class="btn btn-outline-info" role="button" href= "{% url 'merchstore:product_update' pk=object.pk %}">Update this Product Here!</a></h2>
    {% endif %}
{% endblock content %}
