{% extends 'base.html' %}
{% block content %}
    <h4>
        <a href="/home" class="btn btn-outline-info btn-lg" role="button">&larr; Return to Homepage</a>
    </h4>
    <h5>
        <a class="btn btn-outline-info" role="button" href="/merchstore/items/">&larr; Return to Merchstore Products</a>
    </h5>
        {% if request.user.is_authenticated %}
            <h1 class="text-center display-3">Your Cart!</h1>
            {% for seller in sellerAll %}
                {% if seller.user != request.user %}
                    <h3>Owned by: {{ seller.user.profile }}</h3>
                    {% for product in itemsBought %}
                        {% if product.product.Owner == seller %}
                            <br>
                            Product: {{ product.product.name }}
                            <br>
                            Amount: {{ product.amount }}
                            <br>
                            Transaction On: {{ product.createdOn }}
                            <br>
                            Status: {{ product.status }}
                            <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <br>
            <b>Number of products in your cart: {{ total }}</b>
        {% endif %}
    {% endblock content %}
