{% extends 'base.html' %}
{% block content %}
    <h5>
        <a class="btn btn-outline-info" role="button" href="/home">&larr; Return to Homepage</a>
    </h5>
    <h1 class="display-3 text-center">Transactions!</h1>
    {% if request.user.is_authenticated %}
        <h1>Product Transactions:</h1>
        {% for buyer in buyerAll %}
            {% if buyer.user != request.user %}
                <h3>Purchased by: {{ buyer.user }}</h3>
                {% for transaction in itemsSold %}
                    {% if buyer.user.username == transaction.buyer.user.username %}
                        <br>
                        Product: {{ transaction.product.name }}
                        <br>
                        Amount: {{ transaction.amount }}
                        <br>
                        Status: {{ transaction.status }}
                        <br>
                        Transaction On: {{ transaction.createdOn }}
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <br>
        <b>Number of products being transacted: {{ total }}</b>
    {% endif %}
{% endblock content %}
