{% extends 'base.html' %}
{%block header%}
<h1>Merchandise Store!</h1>
{%endblock%}
{% block content %}
    <ul>
        {%for productType in object_list%}
        <p>  <font size="+2"><b>{{productType.name}}: </b></font>
        <br>{{productType.description}}
        </p>
            {% for productT in productType.product.all %}
            <ul>
                <li>
                    <a href= "{{ productT.get_absolute_url }}" > {{productT.name}} </a>
                </li>
            </ul>
            {% endfor %}
        {%endfor%}
    </ul>
{% endblock %}