{% extends 'base.html' %}
{% block content %}
    <h4>
        <a href="/home" class="btn btn-outline-info btn-lg" role="button">&larr; Return to Homepage</a>
    </h4>
    <h5>
        <a class="btn btn-outline-info" role="button" href="/merchstore/items/">&larr; Return to Merchstore Products</a>
    </h5>
    <h1 class="display-3 text-center">Update a Product!</h1>
    <p>Owner: {{ request.user.profile }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Update</button>
    </form>
{% endblock content %}
