{% extends 'base.html' %}
{%load static%}
{%block styles %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f8f9fa; 
        color: #333; 
    }

    h1 {
        text-align: center;
        padding: 20px 0;
        font-size: 2.5rem; 
        color: #ff77c4; 
    }

    h2 {
        font-size: 2rem; 
        color: #ff77c4; 
    }

    a {
        text-decoration: none;
        color: #ff77c4; 
        transition: color 0.3s ease; 
    }

    a:hover {
        color: #762151; 
    }

    #content {
        max-width: 800px;
        margin: 1px auto; 
        padding: 20px;
        background-color: #fff; 
        border-radius: 8px; 
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
     
    p {
        margin: 0;
    }

    #entry {
        color: #ff77c4; 
        margin: 20;
        padding: 20px;
        font-size: 1.5rem;
    }

    #date {
        font-style: italic;
        font-size: 0.7rem;
    }
</style>
{% endblock styles %}
{% block content %}
<h1>
    <a href="/wiki/articles">WIKI </a>
</h1>
<h2>Article Title: {{ article.title }}</h2>
<img src="{{ article.article_image.url }}" alt="test">
<p id="entry">Author: {{article.author}}</p>
<p>Category: {{ article.category }}</p>
<p>Category Description: {{ article.category.description }}</p>
<p id="entry">Article Entry: {{ article.entry }}</p>
<p id="date">Created on: {{ article.created_on }}</p>
<p id="date">Updated on: {{ article.updated_on }}</p>
{% if article.author.pk == user.pk %}
<h2><a href = "/wiki/article/{{ article.pk }}/edit">Update Article</a></h2>
{% endif %}
{% for others in object_list %}
    {% if article.category == others.category and article.title != others.title %}
        <li>
            <a href="{{ others.get_absolute_url }}">
                {{ others }}
            </a>
        </li>
    {% endif %}
{% endfor %}

<h2>Add Comment</h2>
<form method="POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <button type="submit">Submit</button>
</form>

<h2>Comments</h2>
<ul>
    {% for comment in comments %}
    <li>{{ comment.author.username}}: {{comment.entry}}</li>
    {% endfor %}
</ul>

{% endblock content %}
