{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h4>
    <a href="/home" class="btn btn-outline-info btn-lg" role="button">&larr; Return to Homepage</a>
  </h4>
  <p>
    <a href="/wiki/articles" class="btn btn-outline-info" role="button">&larr; Go Back to Articles</a>
  </p>
  <h2 class="display-3 text-center">Article Title: {{ article.title }}</h2>
  {% if article.author.pk == user.pk %}
    <h2 class="text-center">
      <a class="btn btn-outline-info"
         role="button"
         href="/wiki/article/{{ article.pk }}/edit">Update Article</a>
    </h2>
  {% endif %}
    {% if article.article_image %}
      <h2 class="text-center">
        <img src="{{ article.article_image.url }}"
             alt=""
             style="width: 200px;
                    height: 200px" />
      </h2>
    {% endif %}
    <p class="h3 text-center">Author: {{ article.author }}</p>
    <p class="text-center">Category: {{ article.category }}</p>
    <p class="text-center">Category Description: {{ article.category.description }}</p>
    <p class="display-6">Article Entry: {{ article.entry }}</p>
    <p>
      <small>Created on: {{ article.created_on }}</small>
    </p>
    <p>
      <small>Updated on: {{ article.updated_on }}</small>
    </p>
    {% if request.user.is_authenticated %}
    <hr>
    <h2>Add Comment</h2>
    <form method="POST">
      {% csrf_token %} {{ comment_form.as_p }}
      <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
  {% endif %}
  <hr>
  <h2>Comments</h2>
  <ul>
    {% for comment in comments %}
    
    <p>{{ comment.author }}: {{ comment.entry }}</p>
    {% empty %} No comments yet.
    <br>
    {% endfor %}
  </ul>
  <hr>
  <h2>Read More</h2>
  {% for others in object_list %}
    {% if article.category == others.category and article.title != others.title %}
        <h2><a href="{{ others.get_absolute_url }}" class="btn btn-secondary" role="button">{{ others }}</a>
        </h2><br>
    {% endif %}
  {% endfor %}
{% endblock content %}
