{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% if request.user.is_authenticated %}
    <h2 class="text-start display-4">Your Articles</h2>
    <ul>
      <div class="gallery">
        {% for article in object_list %}
          {% if article.author.pk == user.pk %}
              
              {% if article.article_image %}
                <img src="{{ article.article_image.url }}"
                     style="width: 200px;
                            height: 200px"
                     alt="" />
                {% endif %}
                <a class="btn btn-secondary btn-lg"
                 role="button"
                 href="{{ article.get_absolute_url }}">{{ article }}</a>
              <hr>
              
          {% endif %}
        {% endfor %}
      </div>
    </ul>
  {% endif %}
  <h2 class="text-start display-4">All Articles</h2>
  <ul>
    {% for category in categories %}
      <h3>{{ category.name }}</h3>
      <div class="gallery">
        {% for article in object_list %}
          {% if article.author.pk != user.pk %}
            {% if article.category == category %}
                {% if article.article_image %}
                  <img src="{{ article.article_image.url }}"
                       style="width: 200px;
                              height: 200px"
                       alt="" />
                {% endif %}
                <a class="btn btn-secondary btn-lg"
                   role="button"
                   href="{{ article.get_absolute_url }}">{{ article }}</a>
              <hr>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </ul>
  {% if request.user.is_authenticated %}
  <h2 class="text-center">
    <a href="/wiki/article/add">
      <h2 class="btn btn-outline-info" role="button">Create Article</h2>
    </a>
  </h2>
  {% endif %}
{% endblock content %}
