{% extends 'base.html' %} {%load static%} 
{% block content %}
<h2 class="display-3 text-center">Your Articles</h2>
<h2 class="text-center">
  <a href="/wiki/article/add"><h2 class="btn btn-outline-info" role="button">Create Article</h2></a></h2>
<ul>
  <div class="gallery">
  {% for article in object_list %} 
  {% if article.author.pk == user.pk %}
  <li>
    <a class="btn btn-secondary btn-lg" role="button" href="{{ article.get_absolute_url }}"> {{ article }} </a>
    {% if article.article_image %}
    <img src="{{ article.article_image.url }}" style="width: 200px; height: 200px;" alt="" />
    {% endif %}
  </li>
  {% endif %} 
  {% endfor %}
</div>
</ul>
<h2 class="display-3 text-center">All Articles</h2>
<ul>
  {% for category in categories %}
  <h3>{{category.name}}</h3>
  <div class="gallery">
  {% for article in object_list %} 
  {% if article.author.pk != user.pk %} 
  {% if article.category == category %}
  <li>
    <a class="btn btn-secondary btn-lg" role="button" href="{{ article.get_absolute_url }}"> {{ article }} </a>
    {% if article.article_image %}
    <img src="{{ article.article_image.url }}" style="width: 200px; height: 200px;" alt="" />
    {% endif %}
  </li>
  {% endif %} 
  {% endif %} 
  {% endfor %} 
  </div>
  {% endfor %}
</ul>
{% endblock content %}
