{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4 class="text-center">
    <a href="{% url 'wiki:wiki_article_list' %}"
       class="btn btn-outline-info btn-lg"
       role="button">Switch to List View</a>
</h4>
  <h2 class="text-center display-4">Articles</h2>
  <ul>
      <div class="gallery text-center">
        {% for article in object_list %}
                {% if article.article_image %}
                  <h2><img src="{{ article.article_image.url }}"
                       style="width: 200px;
                              height: 200px"
                       alt="" /></h2><br> 
                {% endif %}
                <h2><a class="btn btn-secondary btn-lg"
                   role="button"
                   href="{{ article.get_absolute_url }}">{{ article }}</a></h2>
              <br>
              {% empty %} No articles yet.
        {% endfor %}
      </div>
  </ul>
  {% if request.user.is_authenticated %}
  <h2 class="text-center">
    <a href="/wiki/article/add">
      <h2 class="btn btn-outline-info" role="button">Create Article</h2>
    </a>
  </h2>
  {% endif %}
{% endblock content %}
